
img {
  border: 3px solid #282c34;
}
.container-fluid {
  height: 100vh;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fluid > div {
  width: 85%;
  min-width: 300px;
  max-width: 500px;
}
/* .card {
  width: 100px;
  background-color: red !important; 
  color: #fff;
} */
.hover-expand-effect:after {
background-color: rgba(0, 0, 0, 0.05);
/*border-radius: 6px;*/
content: ".";
position: absolute;
/*left: 80px;*/
top: 0;
width: 100%;
height: 0;
color: transparent;
-moz-transition: all 0.95s;
-o-transition: all 0.95s;
-webkit-transition: all 0.95s;
transition: all 0.95s; }
.hover-expand-effect:hover:after {
height: 100%; }
.instagram{ 
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.facebook{
  background-color: #3B5998 !important;
}

.twitter{
  background-color: #00acee !important;
}

.fa{
  color: #000;
  margin: 10px;
  font-size: 24px !important;
}

.social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn a, .btn a:hover {
  color: #000;
  text-decoration: none ;
  font-size: initial;
}

a{
  color: #000 !important;
  text-decoration: none !important;
  font-size: initial;
  /* font-size: 14px; */
}

.dropdown .dropdown-menu a{
  color: #000 !important;
  text-decoration: none !important;
  font-size: 14px;
}

.badge{
  font-size: 90% !important;
}

.badge-light{
  background-color: #e4e6e8 !important;
}

.card{
  width: 310px;
}

.card-body{
  padding: 20px 10px !important;
}

.col-md-3{
  margin-right: 20px;
}

.card-footer{
  padding: 2px 20px !important;
}
.arrow{
    left: 275px !important;
}
.popover, bs-popover-bottom {
    
    left: -143px !important;
    width:308px !important;
    max-width:400px !important;
}

.btn-fab-presentation {
    position: relative;
    top: -.1rem;
    right: 0;
    width: 2rem;
    height: 2rem;
    line-height: 1.8rem;
    padding-top: 0;
    margin: 0 .2rem;
    pointer-events: none;
    cursor: unset;
}

.btn-fab-presentation {
    position: fixed;
    right: 0 !important;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
}

.btn-fab-presentation {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 24px;
    height: 24px;
    line-height: 40px;
    padding: 0;
    padding-top: 0px;
    background-color: #D0D9DC;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
}

.btn-fab-presentation {
    line-height: 1.8rem;
    pointer-events: none;
    cursor: unset;
}

.btn-fab-presentation {
    color: #fff;
    line-height: 22px;
    cursor: pointer;
}

.social-media-cards .down-icon-wrap{
    position: absolute;
    bottom: -10px;
    right: 20px;
}

.down-icon-wrap{
  cursor: pointer;
}

i.ti-plus{
  color: #bf3b2f;
}


.twit-list{
  padding: 5px;
  list-style: none;
  font-size: 13.5px;
  /* border-bottom: 1px solid #d1cccc; */
}